$almost-black: #0c0c0fff;

$lightened-black: #101014ff;

$white: #ffffffff;

$sea-color: #475977ff;

$magenta: #963d72ff;

$green: #537a34ff;

$red-orange: rgb(248, 107, 72);

$light-steel-blue: #b7d0f1ff;

$green: #42b883;

$darkgreen: #347474;

$oldgreen: #808c6c;

$deepblue: #35495e;

$orange: #ff7e67;

$oldpaper: #fdac61;

$lazurite: #a08cd8;
