@import "reset.scss";
@import "colors.scss";
@import "tiles.scss";
@import "creatures.scss";
$thefont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$statsfz: 3.5rem;
@mixin icon-display {
    display: flex;
    align-items: end;
}

html {
    font-size: 10px;
    height: 100%;
}
body {
    background-image: linear-gradient(360deg, darken($lazurite, 50%) 3%, darken($oldpaper, 30%));
    transition-property: background-image;
    transition-duration: 2s;
}

.header {
    height: 7vh;
    background-color: darken($oldpaper, 32%);
    display: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}
.stats {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
.health {
    @include icon-display();
    &__icon {
    }

    &__count {
        font-size: $statsfz;
    }
}
.icon {
    img {
        width: 5rem;
    }
    margin-right: 0.5rem;
}
.gold {
    @include icon-display();
    &__icon {
    }

    &__count {
        font-size: $statsfz;
    }
}
.wave {
    @include icon-display();
    &__icon {
    }

    &__count {
        font-size: $statsfz;
    }
}

.creature {
    img {
        width: 5rem;
    }
    &__rat {
        // display: none;
    }
}

.main {
    max-width: 152rem;
    margin: 0 auto;
    &__wrapper {
        display: flex;
        justify-content: center;
        display: none;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 2s;
        border: 1rem ridge rgba(206, 206, 206, 0.74);
        border-image: linear-gradient(360deg, darken($oldpaper, 30%), rgb(190, 20, 20));
        border-image-slice: 1;
    }
}

.tile-col {
    flex-direction: column;
}
.tile {
    min-height: 5rem;
    min-width: 5rem;
    background-size: cover;
    position: relative;
}

.start {
    &__window {
        background: radial-gradient(rgb(190, 20, 20), darken(rgb(190, 20, 20), 25%));
        max-width: 120rem;
        margin: 0 auto;
        border-left: 1rem ridge rgba(206, 206, 206, 0.74);
        border-right: 1rem groove rgba(206, 206, 206, 0.74);
        border-image: linear-gradient(360deg, darken($oldpaper, 30%), rgb(190, 20, 20));
        border-image-slice: 1;
        box-sizing: border-box;
        transition-property: opacity;
        transition-duration: 1.5s;
    }

    &__wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__block {
        font-family: $thefont;
        background: radial-gradient($oldpaper, darken($oldpaper, 7%));
        width: 40rem;
        height: 50rem;
        border-top: 1rem groove $red-orange;
        border-left: 1rem groove $red-orange;
        border-right: 1rem ridge $red-orange;
        border-bottom: 1rem ridge $red-orange;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 5px $orange;
        box-shadow: -7px 7px 5px rgba(0, 0, 0, 0.589);
    }

    &__button {
        font-family: $thefont;
        font-size: 4rem;
        width: 25rem;
        height: 5.5rem;
        text-shadow: 5px 5px 5px $red-orange;
        background: transparent;
        border: none;
        outline: none;
        transition-property: text-shadow;
        transition-duration: 400ms;
        &::first-letter {
            color: maroon;
        }
        animation: opacity 1s linear 0.2s infinite alternate running;
        &:hover {
            text-shadow: 5px 5px 5px $white;
        }
    }
}

.greetings {
    text-align: center;
    padding: 0 0.5rem;
    margin: -1rem 0 3rem 0;
    font-size: 5.5rem;
    &::first-letter {
        color: maroon;
    }
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@import "media.scss";
