.mountain {
    background-image: url(../images/tiles/mountain.png);
}
.mountains {
    background-image: url(../images/tiles/mountains.png);
}
.hill {
    background-image: url(../images/tiles/hill.png);
}
.hills {
    background-image: url(../images/tiles/hills.png);
}
.trees {
    background-image: url(../images/tiles/trees.png);
}
.forest {
    background-image: url(../images/tiles/forest.png);
}
.lake {
    background-image: url(../images/tiles/lake.png);
}
.road-vertical {
    background-image: url(../images/tiles/road-vertical.png);
}
.road-vertical-left {
    background-image: url(../images/tiles/road-vertical-left.png);
}
.road-vertical-right {
    background-image: url(../images/tiles/road-vertical-right.png);
}
.road-horizontal {
    background-image: url(../images/tiles/road-horizontal.png);
}
.sroad-vertical {
    background-image: url(../images/tiles/sroad-vertical.png);
}
.scrossroad {
    background-image: url(../images/tiles/scrossroad.png);
}
.sroad-horizontal {
    background-image: url(../images/tiles/sroad-horizontal.png);
}
.sroad-left-up-angle {
    background-image: url(../images/tiles/sroad-left-up-angle.png);
}
.sroad-left-down-angle {
    background-image: url(../images/tiles/sroad-left-down-angle.png);
}
.sroad-right-up-angle {
    background-image: url(../images/tiles/sroad-right-up-angle.png);
}
.sroad-right-down-angle {
    background-image: url(../images/tiles/sroad-right-down-angle.png);
}
.shore {
    background-image: url(../images/tiles/shore.png);
}

.shore-corner {
    background-image: url(../images/tiles/shore-corner.png);
}
.shore-inverse-corner {
    background-image: url(../images/tiles/shore-inverse-corner.png);
}
.water {
    background-image: url(../images/tiles/water.png);
}
.bridge {
    background-image: url(../images/tiles/bridge.png);
}
